.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .4);
  }



  &__content {
    @include absCenter;
    width: 75%;
    height: 50rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;
    
    @include respond(tab-potrait) {
      height: 50rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include respond(phone) {
      height: auto;
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-landscape){
      width: 40%;
    }

    @include respond(tab-potrait){
      display: none;
      padding: 0;
      width: 0;
    }


  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-landscape){
      width: 60%;
    }

    @include respond(tab-potrait) {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  &__image{
    display: block;
    width: 100%;

    @include respond(desktop) {
      height: 50%;
    }

    @include respond(tab-potrait) {
      display:none;
    }
  }

  &__heading-secondary{
    @include respond(tab-landscape) {
      font-size: 2.5rem;
    }
  
    @include respond(tab-potrait){
      margin-top: 2rem;
    }

    @include respond(phone) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 28.125em) {
      font-size: 1.7rem;
    }

    @media only screen and (max-width: 24.06em) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 21.56em) {
      font-size: 1.3rem;
    }
  }

  &__heading-tertiary{
    @include respond(tab-landscape) {
      font-size: 1.3rem;
    }

    @include respond(phone) {
      font-size: 1.1rem;
    }

    @media only screen and (max-width: 28.125em) {
      font-size: 1rem;
    }

    @media only screen and (max-width: 24.06em) {
      font-size: .8rem;
    }

    @media only screen and (max-width: 21.56em) {
      font-size: .7rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;

    @include respond(desktop) {
      font-size: 1.4rem;
    }

    @include respond(tab-landscape) {
      font-size: 1.2rem;
    }

    @include respond(tab-potrait) {
      font-size: 1.1;
      display: flex;
      hyphens: manual;
      margin-bottom: 2rem;
    }

    @include respond(phone) {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
    }

    @media only screen and (max-width: 28.125em) {
      font-size: .9rem;
    }
  }

  &__btn,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    border: none;
    cursor: pointer;

    @include respond(tab-potrait) {
      margin-bottom: 2rem;
    }

    @include respond(phone) {
      padding: 1rem 3.5rem;
    }

    @media only screen and (max-width: 28.125em) {
      font-size: 1rem;
      padding: .8rem 3.2rem;
    }

  }

  // Open state
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close{
    &:link,
    &:visited {
      color: $color-grey-dark-2;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;

    }

    &:hover {
      color: $color-primary;
    }
  }

}